<div class="h-stack gap full">
  <p-card
    header="{{ member?.firstName | titlecase }} {{ member?.lastName }}"
    subheader="{{ member?.shortName | uppercase }}"
    [style]="{ width: '40dvh' }"
  >
    <ng-template pTemplate="header">
      <div class="img-container">
        <img
          src="{{ member?.photoUrl || './assets/user.png' }}"
          alt="{{ member?.shortName }}"
          class="user-profile-picture"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        form="editForm"
        pButton
        type="button"
        icon="pi pi-save"
        class="p-button-success"
        [disabled]="!editForm?.dirty"
        (click)="editForm?.ngSubmit?.emit()"
      ></button>
    </ng-template>
    <div class="info-container">
      <h4 class="margin-bot-only">Location:</h4>
      <p class="no-margins">
        {{ member?.workplace }}
      </p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Role:</h4>
      <p class="no-margins">
        {{ member?.role }}
      </p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Hired:</h4>
      <p class="no-margins">{{ member?.created | date : "mediumDate" }}</p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Birthday:</h4>
      <p class="no-margins">{{ member?.dateOfBirth | date : "mediumDate" }}</p>
    </div>
  </p-card>

  <p-tabView>
    <p-tabPanel header="Performance" *ngIf="member">
      <div *ngIf="editForm?.dirty">
        <p>
          <strong>Beware⚠️ </strong>You have made changes. Any unsaved changes
          will be lost
        </p>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Photos">
      Photo edit my friend
      <!-- <p-galleria
        [value]="images"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '640px' }"
        [numVisible]="5"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.url" style="width: 100%" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.url" />
          </div>
        </ng-template>
      </p-galleria> -->
    </p-tabPanel>
  </p-tabView>
</div>
