<div class="h-stack gap">
  <p-card
    header="{{ product()?.name }}"
    subheader="{{ product()?.category?.name | titlecase }}"
    [style]="{ width: '30dvh' }"
  >
    <ng-template pTemplate="header">
      <div class="img-container">
        <img
          src="{{ product()?.photoUrl || './assets/user.png' }}"
          alt="{{ product()?.id }}"
          class="user-profile-picture"
        />
      </div>
    </ng-template>
    <div class="info-container">
      <h4 class="margin-bot-only">Created:</h4>
      <p class="no-margins">{{ product()?.created | date : "dd-MM-yyyy" }}</p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Started:</h4>
      <p class="no-margins">
        {{ product()?.started | date : "dd-MM-yyyy" }}
      </p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Ended:</h4>
      <p class="no-margins">
        {{ product()?.ended | date : "dd-MM-yyyy" }}
      </p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Price:</h4>
      <p class="no-margins">
        {{ product()?.price }}
      </p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Employee:</h4>
      <p class="no-margins">{{ product()?.employee?.shortName | uppercase }}</p>
    </div>
  </p-card>
  <p-tabView>
    <p-tabPanel header="Materials">
      <div class="info-container">
        <h3 class="margin-bot-only">Material list for {{ product()?.name }}</h3>
        <p-table
          *ngIf="product()"
          [value]="product()!.materials"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Measure</th>
              <th>Amount available</th>
              <th>Price</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-material>
            <tr>
              <td>{{ material.name }}</td>
              <td>{{ material.materialTypeName }}</td>
              <td>
                {{ material.width }} x {{ material.height }} x
                {{ material.length }}
              </td>
              <td>{{ material.amountInStock }}</td>
              <td>{{ material.price }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Edit">
      <div class="details-container">
        <form [formGroup]="productDetailsForm" (ngSubmit)="onSubmit()">
          <div class="form-container">
            <div class="h-stack-space-between gap-x2">
              <label for="name">Name</label>
              <input
                pInputText
                type="text"
                id="name"
                formControlName="name"
                placeholder="Name"
              />
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="photoUrl">Photo URL</label>
              <input
                pInputText
                type="text"
                id="photoUrl"
                formControlName="photoUrl"
                placeholder="Photo URL"
              />
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="price">Price</label>
              <input
                pInputText
                type="number"
                id="price"
                formControlName="price"
                placeholder="Price"
              />
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="started">Started</label>
              <p-calendar
                id="started"
                formControlName="started"
                [showIcon]="true"
              ></p-calendar>
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="ended">Ended</label>
              <p-calendar
                id="ended"
                formControlName="ended"
                [showIcon]="true"
              ></p-calendar>
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="materials">Materials</label>
              <p-multiSelect
                [options]="storeMaterials()"
                formControlName="materials"
                placeholder="Select Cities"
                optionLabel="name"
                display="chip"
                [showClear]="true"
              ></p-multiSelect>
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="category">Category</label>
              <p-dropdown
                formControlName="category"
                [options]="storeCategories()"
                optionLabel="name"
                placeholder="Category"
              ></p-dropdown>
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="employee">Employee</label>
              <p-dropdown
                formControlName="employee"
                [options]="storeUsers()"
                optionLabel="shortName"
                placeholder="Employee"
              ></p-dropdown>
            </div>
          </div>

          <div>
            <button
              pButton
              type="submit"
              [disabled]="!productDetailsForm.valid"
              icon="pi pi-save"
              class="p-button-success"
            ></button>
          </div>
        </form>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Photos">
      <h3 class="margin-bot-only">Photos submitted by buyer</h3>

      <p-galleria
        [value]="images()"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '640px' }"
        [numVisible]="5"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.url" style="width: 100%" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.url" style="width: 100%" />
          </div>
        </ng-template>
      </p-galleria>
    </p-tabPanel>
  </p-tabView>
</div>
