:host {
  ::ng-deep {
    .p-card {
      width: 30dvh;
      background: var(--background-color);

      .p-card-body {
        padding-top: 0;
      }

      .p-card-content {
        padding-top: 0;
      }
      .info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 1rem;
        margin-bottom: 1rem;

        h4 {
          width: 100%;
        }

        p {
          flex: 1 0 100%;
          margin: 0;
          white-space: normal;
        }
      }
    }
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-picture {
  margin: 2dvh;
  width: 26dvh;
  border-radius: 5%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.margin-bot-only {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
