<div class="filter-container margin-bot-only">
  <input
    type="text"
    pInputText
    placeholder="Filter by name..."
    (input)="filterMaterials($event)"
  />
  <p-dropdown
    [options]="materialTypeOptions"
    [(ngModel)]="selectedMaterialType"
    optionLabel="name"
    placeholder="Select a Material"
    (onChange)="filterMaterialsByMaterialType($event.value)"
  ></p-dropdown>
</div>
<div class="h-stack-center gap-x2 w-100">
  <div class="col-2" *ngFor="let material of materialsToDisplay">
    <app-material-card
      [material]="material"
      [amountNeededInProducts]="neededAmountOfMaterial(material)"
    ></app-material-card>
  </div>
</div>
