<p-card
  [style]="{ width: '30dvh' }"
  *ngIf="product"
  routerLink="/products/{{ product.name }}"
>
  <div class="image-container">
    <img
      src="{{ product.photoUrl || './assets/user.png' }}"
      class="user-image"
    />
    <div class="price">{{ product.price }}</div>
  </div>
  <div class="details-container">
    <div class="h-stack-space-between">
      <h3 class="no-margins">{{ product.name | titlecase }}</h3>
    </div>
    <p>{{ product.category.name }}</p>
    <p-divider></p-divider>
    <div class="h-stack-right gap">
      <button
        *ngIf="product.ended"
        pButton
        type="button"
        icon="pi pi-check"
        class="p-button-success"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-arrow-right"
        class="p-button-warning"
      ></button>
    </div>
  </div>
</p-card>
