<div class="h-stack gap">
  <p-card
    header="{{ member?.shortName }}"
    subheader="{{ member?.firstName | titlecase }}, {{ member?.lastName }}"
    [style]="{ width: '30dvh' }"
  >
    <ng-template pTemplate="header">
      <div class="img-container">
        <img
          src="{{ member?.photoUrl || './assets/user.png' }}"
          alt="{{ member?.shortName }}"
          class="user-profile-picture"
        />
      </div>
    </ng-template>
    <div class="info-container">
      <h4 class="margin-bot-only">Location:</h4>
      <p class="no-margins">{{ member?.workplace }}</p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Joined:</h4>
      <p class="no-margins">
        {{ member?.created | timeAgo }}
      </p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Member since:</h4>
      <p class="no-margins">{{ member?.created | date : "mediumDate" }}</p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Birthday:</h4>
      <p class="no-margins">{{ member?.dateOfBirth }}</p>
    </div>
  </p-card>
  <p-tabView>
    <p-tabPanel header="Messages"> Messages go here </p-tabPanel>
  </p-tabView>
</div>
