<div class="h-stack gap">
  <p-card
    header="{{ employee?.shortName }}"
    subheader="{{ employee?.firstName | titlecase }} {{ employee?.lastName }}"
    [style]="{ width: '30dvh' }"
  >
    <ng-template pTemplate="header">
      <div class="img-container">
        <img
          src="{{ employee?.photoUrl || './assets/employee.png' }}"
          alt="{{ employee?.shortName }}"
          class="employee-profile-picture"
        />
      </div>
    </ng-template>
    <div class="info-container">
      <h4 class="margin-bot-only">Location:</h4>
      <p class="no-margins">{{ employee?.workplace }}</p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Joined:</h4>
      <p class="no-margins">
        {{ employee?.created | timeAgo }}
      </p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Employee since:</h4>
      <p class="no-margins">{{ employee?.created | date : "mediumDate" }}</p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Birthday:</h4>
      <p class="no-margins">{{ employee?.dateOfBirth }}</p>
    </div>
  </p-card>
  <p-tabView>
    <p-tabPanel header="Messages"> Messages go here </p-tabPanel>
  </p-tabView>
</div>
