<div class="h-stack gap">
  <p-card
    header="{{ employee()?.shortName | uppercase }}"
    subheader="{{ employee()?.firstName | titlecase }} {{
      employee()?.lastName
    }}"
    [style]="{ width: '30dvh' }"
  >
    <ng-template pTemplate="header">
      <div class="img-container">
        <img
          src="{{ employee()?.photoUrl || './assets/user.png' }}"
          alt="{{ employee()?.shortName }}"
          class="employee-profile-picture"
        />
      </div>
    </ng-template>
    <div class="info-container">
      <h4 class="margin-bot-only">Location:</h4>
      <p class="no-margins">{{ employee()?.workplace }}</p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Joined:</h4>
      <p class="no-margins">
        {{ employee()?.joined | timeAgo }}
      </p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Employee since:</h4>
      <p class="no-margins">{{ employee()?.joined | date : "mediumDate" }}</p>
    </div>

    <div class="info-container">
      <h4 class="margin-bot-only">Birthday:</h4>
      <p class="no-margins">
        {{ employee()?.dateOfBirth | date : "mediumDate" }}
      </p>
    </div>
  </p-card>
  <p-tabView>
    <p-tabPanel header="Performance">
      <div
        *ngFor="let perf of performances()"
        class="h-stack-space-between gap-x2"
      >
        <b>{{ perf.month }}</b> <b>{{ perf.ordersEnded }}</b>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Edit">
      <div class="details-container">
        <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
          <div class="form-container">
            <div class="h-stack-space-between gap-x2">
              <label for="shortName">Short Name</label>
              <input
                pInputText
                type="text"
                id="shortName"
                formControlName="shortName"
                placeholder="Short name"
              />
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="firstName">First Name</label>
              <input
                pInputText
                type="text"
                id="firstName"
                formControlName="firstName"
                placeholder="First name"
              />
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="lastName">Last Name</label>
              <input
                pInputText
                type="text"
                id="lastName"
                formControlName="lastName"
                placeholder="Last name"
              />
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="photoUrl">Photo URL</label>
              <input
                pInputText
                type="text"
                id="photoUrl"
                formControlName="photoUrl"
                placeholder="Photo URL"
              />
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="joined">Joined</label>
              <p-calendar
                id="joined"
                formControlName="joined"
                [showIcon]="true"
              ></p-calendar>
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="dateOfBirth">Date of Birth</label>
              <p-calendar
                id="dateOfBirth"
                formControlName="dateOfBirth"
                [showIcon]="true"
              ></p-calendar>
            </div>
            <div class="h-stack-space-between gap-x2">
              <label for="workplace">Workplace</label>
              <input
                pInputText
                type="text"
                id="workplace"
                formControlName="workplace"
                placeholder="Workplace"
              />
            </div>
          </div>

          <div>
            <button
              pButton
              type="submit"
              [disabled]="!userDetailsForm.valid"
              icon="pi pi-save"
              class="p-button-success"
            ></button>
          </div>
        </form>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
